{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Project {{project_name}}{% endblock %}


{% block content_title %}
    <h1>Project <b>{{ project_name }}</b></h1>
    {% include "dashboard_app/snippets/branch_button.html" %}
{% endblock content_title %}

{% block content_page %}


<h3>Studies</h3>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for study_log in study_logs %}
    <!--<tr class="include 'dashboard_app/snippets/bootstrap_class.html' ">-->
    <tr>
        <td>
            <b><a href="{{ url_for('dashboard.study', project=project_name, branch=current_branch, study=study_log.name) }}">
                {{ study_log.name }}
            </a></b>
        </td>
        <td>{% with study=study_log %}
            {% include "dashboard_app/snippets/study_status.html" %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content_page %}
