{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Projects{% endblock %}


{% block content_title %}
    <h1>Projects</h1>
{% endblock content_title %}

{% block content_page %}
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    {% for project in projects %}
    <tr>
        <td>
            <b><a href="{{ url_for('dashboard.project', project=project, branch=current_branch) }}">{{ project }}</a></b>
        </td>
    </tr>
    {% endfor%}
</table>


{% endblock content_page %}

