<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ current_branch }}
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    {% for branch in branches %}
      {% if branch != current_branch %}
        {% set args = request.view_args.copy() %}
        {% set _dummy = args.update({'branch': branch}) %}
        <li><a href="{{ url_for(request.url_rule.endpoint, **args) }}">{{ branch }}</a></li>
      {% endif %}
    {% endfor%}
  </ul>
</div>
