<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
</style>

<table >
    <tr>
        <th>Name</th>
        <th>Last modified</th>
        <th>Size</th>
    </tr>
{% for entry in entries %}
    <tr>
        <td><a href="{{ entry.url }}">{{ entry.name if entry.name else '.' }}</a></td>
        <td>{{ entry.mtime | strftime }}</td>
        <td>{{ entry.size }}</td>
    </tr>
{% endfor %}
</table>