<div>
  <button class="btn btn-default" type="button" onclick="reset_status(&quot;{{ study_log.branch }}&quot;,&quot;{{ study_log.name }}&quot;,&quot;{{ study_log.project }}&quot;)">
    ?
  </button>
</div>
