<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ today }}</button>
  <ul class="dropdown-menu">
    <li><a href="{{ url_for('dashboard.statistics', branch=current_branch, today=not_today) }}">{{ not_today }}</a></li>
  </ul>
</div>
