<div class="col-md-{{ size }}">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ panel_title }}</h3>
    </div>
    <div class="panel-body">
        {{ panel_body }}
    </div>
    </div>
</div>