{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Running Studies{% endblock %}


{% block content_title %}
    <h1>Running Studies</h1>
{% endblock content_title %}

{% block content_page %}

<table class="table table-condensed table-striped">

    <thead>
    <tr>
        <th>Branch</th>
        <th>Project</th>
        <th>Study</th>
        <th>Status</th>
        <th>Hostname</th>
        <th>Origin</th>
        <th>Start date</th>
        <th>Duration</th>
        <th>Reset</th>
    </tr>
    </thead>

    {% for study_log in study_logs %}
    <tr>
        {% if not study_log.is_shared %}
        <td>{{ study_log.branch }}</td>
        <td>
            <strong><a href="{{ url_for('dashboard.study', project=study_log.project, branch=study_log.branch, study=study_log.name) }}">{{ study_log.project }}</a></strong>
        </td>
        <td>
            <strong><a href="{{ url_for('dashboard.study', project=study_log.project, branch=study_log.branch, study=study_log.name) }}">{{ study_log.name }}</a></strong>
        </td>
        {% else %}
        <td></td>
        <td>
            <strong><a href="{{ url_for('dashboard.study', branch=study_log.branch, study=study_log.name) }}">{{ study_log.name }}</a></strong>
        </td>
        {% endif %}
        <td>{% with study=study_log %}
            {% include "dashboard_app/snippets/study_status.html" %}
            {% endwith %}
        </td>
        <td>{{ study_log.hostname }}</td>
        <td>{{ study_log.origin }}</td>
        <td>{{ study_log.start_date }}</td>
        <td>{{ study_log.duration }}</td>
        <td>{% include "dashboard_app/snippets/reset_status_button.html" %}</td>
    </tr>
    {% endfor%}
</table>
{% endblock content_page %}

{% block more_javascript %}
<script>
    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
         ajaxStop: function() { $body.removeClass("loading"); }
    });

    function reset_status(branch_name, study_name, project_name) {
        var obj = {
            branch: branch_name,
            study: study_name,
            project: project_name,
            message: "StudyLog.status=unknown"
        };
        $.ajax({
            url:"/log/",
            type:"POST",
            data:JSON.stringify(obj),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function(){
                location.reload();
            }
        }).fail(function(err) {
            alert("Reset status failed");
        });
    }
</script>
{% endblock more_javascript %}
