{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Shared Studies{% endblock %}


{% block content_title %}
    <h1>Shared Studies</h1>
    {% include "dashboard_app/snippets/branch_button.html" %}
{% endblock content_title %}

{% block content_page %}
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
    </tr>
    </thead>
    {% for study_log in study_logs %}
    <tr>
        <td>
            <b><a href="{{ url_for('dashboard.study', branch=current_branch, study=study_log.name) }}">{{ study_log.name }}</a></b>
        </td>
        <td>{% with study=study_log %}
            {% include "dashboard_app/snippets/study_status.html" %}
            {% endwith %}
        </td>
    </tr>
    {% endfor%}
</table>


{% endblock content_page %}

