{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Branches{% endblock %}


{% block content_title %}
    <h1>Branches</h1>
{% endblock content_title %}

{% block content_page %}
Download branch: <input type="text" id="branch_name" value="">
<button id="create_branch_button">Submit</button>
<br>
<br>

<h3>Repositories:</h3>

<table class="table table-condensed table-striped">

    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    {% for branch_name in branches %}
    <tr>
        <td>{{ branch_name }}</td>
        <td>{% include "dashboard_app/snippets/pull_branch_button.html" %}</td>
        {% if branch_name == 'master' %}
        <td></td>
        {% else %}
        <td>{% include "dashboard_app/snippets/delete_branch_button.html" %}</td>
        {% endif %}
    </tr>
    {% endfor%}

</table>
<br>

<h3>Environments:</h3>

<table class="table table-condensed table-striped">

    <thead>
    <tr>
        <th>Hostname</th>
        <th>Hash</th>
        <th>Last use</th>
    </tr>
    </thead>

    {% for env in environments %}
    <tr>
        <td>{{ env.hostname }}</td>
        <td>{{ env.hash_code }}</td>
        <td>{{ env.datetime }}</td>
    </tr>
    {% endfor%}

</table>
{% endblock content_page %}

{% block more_javascript %}
<script>
    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
         ajaxStop: function() { $body.removeClass("loading"); }
    });

    $('#create_branch_button').click(function() {
        var branch_name = $('#branch_name').val();
        $.post("/git/create_branch/" + branch_name, function(data) {
            $('#branch_name').val('');
            location.reload();
        }).fail(function(err) {
            alert("Branch creation failed");
        })
    })

    function pull_branch(branch_name) {
        $.post("/git/pull_branch/" + branch_name, function(data) {
            location.reload();
        }).fail(function(err) {
            alert("Pull failed");
        })
    }

    function delete_branch(branch_name) {
        $.post("/git/delete_branch/" + branch_name, function(data) {
            location.reload();
        }).fail(function(err) {
            alert("Branch deletion failed");
        })
    }
</script>
{% endblock more_javascript %}
