<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Data Project Manager{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


        {% block extra_headers %}
        {% endblock extra_headers %}
    </head>

    <body>
        {% block navbar %}
            {% include "dashboard_app/navbar.html" %}
        {% endblock %}
        
        <br><br><br>

        <div id="content">
        {% block content %}
        <div class="container">
        <div class="row">
        <div class="col-md-1">
        </div> <!-- .col-md-2 -->

        <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-heading">
                {% block content_title %}
                {% endblock content_title %}
            </div>
            <div class="panel-body">
                {% block content_page %}
                {% endblock content_page %}
            </div> <!-- .panel-body -->
            </div> <!-- .panel .panel-default -->
        </div> <!-- .col-md-8 -->


        </div> <!-- .row -->
        </div> <!-- .container -->
        {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted text-center">
                            On est sur le tarmac.
                        </p>
                    </div>
                </footer>
            {% endblock %}
        </div>

        {% block more_javascript %}
        {% endblock more_javascript %}

        <div class="modal"></div>
    </body>
</html>
