<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Error</title>
    </head>

    <body>
        <h2>Internal error</h2>
        {% for msg in messages %}
            <p style="white-space: pre-wrap;">{{ msg }}</p>
        {% endfor %}
    </body>
</html>
