{% extends "dashboard_app/base.html" %}

{% block title %}dashboard_app Config{% endblock %}
{% block head %}
    {% include "dashboard_app/background.html" %}
{% endblock %}

{% block side_menu %}
{% endblock side_menu %}

{% block content_title %}
<h1 class="text-center">Configure parameters</h1>
{% endblock content_title %}

{% block content_page %}
<form id="form" method="post" action="">{% csrf_token %}
    {{ form.project.label_tag }} {{ form.project }}
    {{ form.study.label_tag }} {{ form.study }}
    <input type="submit" value="Submit" />
</form>
{% endblock content_page %}


{% block more_javascript %}
<script type="text/javascript" language="JavaScript">
    document.forms['form'].elements['project'].focus();
</script>

{% endblock more_javascript %}