<div class="panel-group">
    {% for log in logs %}
    <div class="panel panel-{% include 'dashboard_app/snippets/bootstrap_class.html' with log=log %}">
        <a class="panel-default panel-{% include 'dashboard_app/snippets/bootstrap_class.html' with log=log %}"
           data-toggle="collapse" data-parent="#accordion-{{log.name|last}}" href="#collapse-{{log.name|last}}">
        <div class="panel-heading">
            <h4 class="panel-title">{{log.name}}</h4>
        </div>
        </a>
        <div id="collapse-{{log.name|last}}" class="panel-collapse collapse {% if loop.first %}in{% endif %}">
            <div class="panel-body">
                <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>
                        <strong>Start Date:</strong> {{ log.start_date }}
                    </td>
                    <td>
                        <strong>Duration:</strong> {{ log.duration }} seconds
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>End Date:</strong> {{ log.end_date }}
                    </td>
                    <td>
                        <strong>Status:</strong>
                        <span class="label label-{%include 'dashboard_app/snippets/bootstrap_class.html' with log=log%}">
                            {% if study.log.status == 'success' %}
                                SUCCESS
                            {% elif study.log.status == 'failed' %}
                                FAILED
                            {% elif study.log.status == 'running' %}
                                RUNNING
                            {% else %}
                                UNKNOWN
                            {% endif %}
                        </span>
                    </td>
                </tr>
                </tbody>
                </table>

                <br>
                <pre style="line-height: 0.8">{{ log.text }}</pre>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
