


<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>{{ hostname }}</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if request.url_rule.endpoint == 'dashboard.branches' %}active{% endif %}">
          <a href="{{ url_for('dashboard.branches', branch='master') }}">Branches</a>
        </li>
        <li class="{% if request.url_rule.endpoint == 'dashboard.projects' %}active{% endif %}">
          <a href="{{ url_for('dashboard.projects', branch=current_branch) }}">Projects</a>
        </li>
        <li class="{% if request.url_rule.endpoint == 'dashboard.shared_studies' %}active{% endif %}">
          <a href="{{ url_for('dashboard.shared_studies', branch=current_branch) }}">Shared Studies</a>
        </li>
        <li class="{% if request.url_rule.endpoint == 'dashboard.failed_studies' %}active{% endif %}">
          <a href="{{ url_for('dashboard.failed_studies', branch=current_branch) }}">Failed</a>
        </li>
        <li class="{% if request.url_rule.endpoint == 'dashboard.running_studies' %}active{% endif %}">
          <a href="{{ url_for('dashboard.running_studies', branch=current_branch) }}">Running</a>
        </li>
        <li class="{% if request.url_rule.endpoint == 'dashboard.statistics' %}active{% endif %}">
          <a href="{{ url_for('dashboard.statistics', branch=current_branch, today=True) }}">Statistics</a>
        </li>
        <li class="{% if request.url_rule.endpoint == 'dashboard.pending_tasks' %}active{% endif %}">
          <a href="{{ url_for('dashboard.pending_tasks', branch=current_branch) }}">Pending Tasks</a>
        </li>
        <li>
          <a href="/" onclick="javascript:event.target.port=5555" target="_blank">Flower</a>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
