{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: {{project_name}} {{study_name}}{% endblock %}


{% block content_title %}
    <h2>Study <b>{{ study_name }}</b></h2>

    <div class="row">
        <div class="col-md-1">
            {% include "dashboard_app/snippets/branch_button.html" %}
        </div>
    </div>
{% endblock content_title %}


{% block content_page %}
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Legend</h3>
</div>
<div class="panel-body">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th><b>Color</b></th>
            <th><b>Description</b></th>
        </tr>
        </thead>
        {% for branch_name, color in d_colors.items() %}
        <tr>
            <td>Edge {{ color }}</td>
            <td>{{ branch_name }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Background green</td>
            <td>up-to-date</td>
        </tr>
        <tr>
            <td>Background red</td>
            <td>not up-to-date</td>
        </tr>
    </table>
</div>
</div>

<div style="max-width:100%;">
    <img src="data:image/png;base64, {{ figdata_png }}" />
</div>


{% endblock content_page %}
