{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: {{project_name}} {{study.name}}{% endblock %}


{% block content_title %}
    {% if project_name %}
    <h2>Project <a href="{{ url_for('dashboard.project', project=project_name, branch=current_branch) }}"><b>{{project_name}}</b></a></h2>
    {% endif %}
    <h2>Study <b>{{ study.name }}</b></h2>
    <div class="row">
        <div class="col-md-1">
            {% with study=study_log %}
                {% include "dashboard_app/snippets/study_status.html" %}
            {% endwith %}
        </div>
        <div class="col-md-2">
            {% include "dashboard_app/snippets/branch_button.html" %}
        </div>
    </div>
{% endblock content_title %}


{% block content_page %}
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Inputs</h3>
</div>
<div class="panel-body">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th><b>Alias</b></th>
            <th><b>Study</b></th>
            <th><b>File name</b></th>
            <th><b>Project</b></th>
            <th>Status</th>
            <th>Last Changed</th>
        </tr>
        </thead>
        {% for input_alias, input in study.inputs.items() %}
        <tr>
            <td><b>{{ input_alias }}</b></td>
            <td>
                <b>
                    {% if input.parent_study.is_shared == False and input.parent_study.project_name == None %}
                        {{ input.parent_study_name }}
                    {% else %}
                        <a href="{{ url_for('dashboard.study', project=input.parent_study.project_name, branch=input.branch_name, study=input.parent_study_name) }}">
                            {{ input.parent_study_name }}
                        </a>
                    {% endif %}
                </b>
            </td>
            <td>
                <b>
                    {{ input.name }}
                </b>
            </td>
            <td>
                <b>
                    {{ input.parent_study.project_name }}
                </b>
            </td>
            <td>
                {% with study=func(
                    branch=input.branch_name,
                    study=input.parent_study_name,
                    project=input.parent_study.project_name) %}
                {% include "dashboard_app/snippets/study_status.html" %}
                {% endwith %}
            </td>
            <td>
                {% if input.parent_study.is_shared == False and input.parent_study.project_name == None %}

                {% else %}
                    {{ input.get_mtime()|strftime }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Outputs</h3>
</div>
<div class="panel-body">
    <a href="{{ url_for('data.study_view', project=project_name, study=study.name, branch=current_branch) }}">Study data view</a>


    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th><b>Alias</b></th>
            <th><b>File name</b></th>
            <th>Last Changed</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for output_name, output in study.outputs.items() %}
        <tr>
            <td><b>{{ output.alias }}</b></td>
            <td><b><a >{{ output.name }}</a></b></td>
            <td>{{ output.get_mtime()|strftime }}</td>
            <td>
                <a href="{{ url_for('data.download', project=project_name, study=study.name, output=output_name, branch=current_branch) }}">Download</a>
                <a href="{{ url_for('data.view', project=project_name, study=study.name, output=output_name, branch=current_branch) }}">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Parameters</h3>
</div>
<div class="panel-body">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Type</th>
                <th>Default Value</th>
            </tr>
        </thead>
        <tbody>
            {% for param_name, param in study.parameters.items() %}
            <tr>
                <td>{{ param.name }}</td>
                <td>{{ param.value }}</td>
                <td>{{ param.type }}</td>
                <td>{{ param.default }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
</div>


<div class="panel-group">
    {% for log in study_log.logs %}
    {% with study=log %}
    <div class="panel panel-{%include 'dashboard_app/snippets/bootstrap_class.html' %}">
        <a class="panel-default panel-{%include 'dashboard_app/snippets/bootstrap_class.html' %}"
           data-toggle="collapse" data-parent="#accordion-{{log.name|last}}" href="#collapse-{{log.name|last}}">
        <div class="panel-heading">
            <h4 class="panel-title">{{log.name}}</h4>
        </div>
        </a>
        <div id="collapse-{{log.name|last}}" class="panel-collapse collapse {% if loop.first %}in{% endif %}">
            <div class="panel-body">
                <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>
                        <strong>Start Date:</strong> {{ log.start_date }}
                    </td>
                    <td>
                        <strong>Duration:</strong> {{ log.duration }} seconds
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>End Date:</strong> {{ log.end_date }}
                    </td>
                    <td>
                        <strong>Status:</strong>
                        {% include "dashboard_app/snippets/study_status.html" %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Hostname:</strong> {{ log.hostname }}
                    </td>
                    <td>
                        <strong>Origin:</strong> {{ log.origin }}
                    </td>
                </tr>
                </tbody>
                </table>

                <br>
                <pre style="line-height: 0.8">{{ log.text }}</pre>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>


{% endblock content_page %}
