{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Failed Studies{% endblock %}


{% block content_title %}
    <h1>Failed Studies</h1>
    {% include "dashboard_app/snippets/branch_button.html" %}
{% endblock content_title %}

{% block content_page %}

<table class="table table-condensed table-striped">

    <thead>
    <tr>
        <th>Project</th>
        <th>Study</th>
        <th>Status</th>
        <th>Hostname</th>
        <th>Origin</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Duration</th>
    </tr>
    </thead>

    {% for study_log in study_logs %}
    {% if study_log.start_date.date() == today and study_log.status == 'failed' %}
    <tr class="danger">
    {% elif study_log.start_date.date() == today and study_log.status == 'stopped' %}
    <tr class="danger">
    {% elif study_log.start_date.date() == today and study_log.status == 'warning' %}
    <tr class="warning">
    {% else %}
    <tr>
    {% endif %}
        {% if not study_log.is_shared %}
        <td>
            <strong><a href="{{ url_for('dashboard.study', project=study_log.project, branch=current_branch, study=study_log.name) }}">{{ study_log.project }}</a></strong>
        </td>
        <td>
            <strong><a href="{{ url_for('dashboard.study', project=study_log.project, branch=current_branch, study=study_log.name) }}">{{ study_log.name }}</a></strong>
        </td>
        {% else %}
        <td></td>
        <td>
            <strong><a href="{{ url_for('dashboard.study', branch=current_branch, study=study_log.name) }}">{{ study_log.name }}</a></strong>
        </td>
        {% endif %}
        <td>{% with study=study_log %}
            {% include "dashboard_app/snippets/study_status.html" %}
            {% endwith %}
        </td>
        <td>{{ study_log.hostname }}</td>
        <td>{{ study_log.origin }}</td>
        <td>{{ study_log.start_date }}</td>
        <td>{{ study_log.end_date }}</td>
        <td>{{ study_log.duration }}</td>
    </tr>
    {% endfor%}

</table>

{% endblock content_page %}
