{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Statistics{% endblock %}


{% block content_title %}
    <h1>Statistics</h1>
    {% include "dashboard_app/snippets/branch_button.html" %}
    <br>
    Today: {% include "dashboard_app/snippets/today_button.html" %}
{% endblock content_title %}

{% block content_page %}
<h3>Longest studies</h3>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Total duration</th>
        <th>Projects</th>
    </tr>
    </thead>
    {% for d in top_studies %}
    <tr>
        <td>
            <strong>{{ d.study_name }}</strong>
        </td>
        <td>
            {{ d.sum }}
        </td>
        <td>
            <button onclick='alert("
            {%- for line in d.by_project -%}
                {{ line }}
                {%- if not loop.last -%}
                    \n
                {%- endif -%}
            {%- endfor -%}
            ")'>Show</button>
        </td>
    </tr>
    {% endfor%}
</table>

<h3>Longest redirections</h3>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Total duration</th>
        <th>Projects</th>
    </tr>
    </thead>
    {% for d in top_redirection %}
    <tr>
        <td>
            <strong>{{ d.study_name }}</strong>
        </td>
        <td>
            {{ d.sum }}
        </td>
        <td>
            <button onclick='alert("
            {%- for line in d.by_project -%}
                {{ line }}
                {%- if not loop.last -%}
                    \n
                {%- endif -%}
            {%- endfor -%}
            ")'>Show</button>
        </td>
    </tr>
    {% endfor%}
</table>

<h3>Longest projects</h3>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Total duration</th>
        <th>Projects</th>
    </tr>
    </thead>
    {% for d in top_projects %}
    <tr>
        <td>
            <strong>{{ d.project_name }}</strong>
        </td>
        <td>
            {{ d.sum }}
        </td>
        <td>
            <button onclick='alert("
            {%- for line in d.by_study -%}
                {{ line }}
                {%- if not loop.last -%}
                    \n
                {%- endif -%}
            {%- endfor -%}
            ")'>Show</button>
        </td>
    </tr>
    {% endfor%}
</table>

<h3>Total duration</h3>
<p>{{ total_duration }}</p>

{% endblock content_page %}
