{% extends "dashboard_app/base.html" %}

{% block title %}Dashboard: Pending Tasks{% endblock %}


{% block content_title %}
<h1>Pending Tasks</h1>
{% endblock content_title %}

{% block content_page %}

<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Task ID</th>
        <th>Origin</th>
        <th>Debug</th>
        <th>Queue</th>
    </tr>
    </thead>
    {% for (task_id, d) in tasks %}
    <tr>
        <td>
            <strong>{{ task_id }}</strong>
        </td>
        <td>
            {{ d.origin }}
        </td>
        <td>
            {{ d.debug }}
        </td>
        <td>
            {{ d.queue }}
        </td>
    </tr>
    {% endfor%}
</table>

{% endblock content_page %}
